@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400&family=PT+Sans:wght@400;700&display=swap');

body,
ul,
p,
form,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
figure,
legend,
fieldset,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-size: normal;
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

ul,
ol {
  list-style: none;
}

.main-header {
  padding-bottom: 60px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: #f3f7f9;
  background: url('img/header-bcg-grad.png') repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.top-nav .container {
  display: flex;
  flex-wrap: wrap;
}

.top-nav {
  background-color: #293449;
  margin-bottom: 46px;
}

.top-nav a {
  text-decoration: none;
  color: #ffffff;
}

.top-nav .home,
.bottom-nav .home {
  position: relative;
  padding: 10px 55px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.top-nav .home::after,
.bottom-nav .home::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: -5px;
  background-color: #b52933;
  height: 5px;
  width: 100%;
}

.top-nav .home:hover,
.bottom-nav .home:hover {
  background-color: #ca2c37;
}

.top-nav .home:hover::after,
.bottom-nav .home:hover::after {
  background-color: #9a212a;
}

.top-nav .home:active,
.bottom-nav .home:active {
  background-color: #ba2732;
}

.top-nav .home:active::after,
.bottom-nav .home:active::after {
  background-color: #8e1e26;
}

.top-nav form {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.top-nav form:hover {
  background-color: #212a3a;
}

.top-nav input {
  height: 46px;
  width: 250px;
  background-color: inherit;
  padding-left: 50px;
  color: #ffffff;
  outline: none;
  border: none;
}

.top-nav input:focus {
  background-color: #ffffff;
  color: #000000;
}

/* TODO make search-icon red when focused */

.top-nav label {
  position: absolute;
  left: 0;
  top: 3px;
  width: 50px;
  height: 40px;
  vertical-align: middle;
  background: url('img/icon-search.png') no-repeat 50% 50%;
  opacity: 0.3;
}

.top-nav input:focus ~ label {
  background: url('img/icon-search-red.png') no-repeat 50% 50%;
  opacity: 1;
}

.top-nav input:focus {
  background-color: #ffffff;
  color: #000000;
}

.top-nav input::placeholder {
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
}

.top-nav .user-menu-item {
  position: relative;
  background-color: inherit;
  padding: 12px 20px 12px 40px;
  margin-right: 10px;
}

.top-nav .user-menu-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 13px;
  opacity: 0.3;
}

.top-nav .item-bookmarks::before {
  background: url('img/icon-bookmark.png') no-repeat;
}

.top-nav .item-goods::before {
  background: url('img/cart-icon.png') no-repeat;
}

.top-nav .user-menu-item:hover {
  background-color: #212a3a;
}

.top-nav .user-menu-item:hover::before {
  opacity: 1;
}

.top-nav .user-menu-item:active {
  background-color: #161d29;
  opacity: 0.6;
}

.top-nav .user-menu-item:active::before {
  opacity: 0.5;
}

.top-nav .user-menu-order {
  padding: 12px 20px;
  margin-right: 0;
  background-color: #63a63e;
}

.top-nav .user-menu-order:hover {
  background-color: #5fbb2d;
}

.top-nav .user-menu-order:active {
  background-color: #518534;
  opacity: 0.6;
}

.header-middle-block {
  padding-bottom: 45px;
}

.header-middle-block .container {
  display: flex;
  justify-content: space-between;
}

.header-middle-block .header-desc {
  width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 20px;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
}

.header-contacts-info {
  margin-right: auto;
}

.header-contacts-info .contacts-phone {
  position: relative;
  border: 3px solid #ffffff;
  padding-left: 70px;
  padding-right: 47px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-size: 21px;
  color: #ee3643;
}

.header-contacts-info .contacts-phone::before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 13px;
  width: 40px;
  height: 40px;
  background: url('img/icon-phone.png') no-repeat;
}

.header-contacts-info .contacts-adress {
  font-size: 14px;
  color: #32425c;
  padding-left: 10px;
  padding-right: 10px;
}

.user-panel-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 25px;
  font-size: 21px;
}

.user-panel-buttons .btn-login {
  position: relative;
  margin-right: 10px;
  padding-left: 48px;
}

.user-panel-buttons .btn-login::before {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 18px;
  left: 16px;
  background: url('img/icon-login.png') no-repeat;
  opacity: 0.5;
}

.user-panel-buttons .btn:hover {
  color: #ee3643;
}

.user-panel-buttons .btn:hover::before {
  opacity: 1;
}

.user-panel-buttons .btn:active {
  color: #000000;
  opacity: 0.3;
}

.user-panel-in .user-name {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 25px;
  padding-left: 48px;
  padding-right: 70px;
  font-size: 21px;
  cursor: pointer;
}

.user-panel-in .user-name::before {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  left: 16px;
  width: 40px;
  height: 40px;
  background: url('img/icon-user.png') no-repeat;
  opacity: 0.3;
}

.user-panel-in .user-name:hover::before {
  opacity: 1;
}

.user-panel-in .user-name:hover .logout-btn {
  opacity: 1;
}

.user-panel-in .user-name:active {
  opacity: 0.3;
}

.user-panel-in .logout-btn {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 18px;
  right: 0;
  background: url('img/icon-logout.png') no-repeat;
  opacity: 0.3;
}

.user-panel {
  display: none;
}

.user-panel-in {
  display: block;
}

.user-panel-in .user-panel-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
}

.user-panel-menu li:not(:last-of-type) {
  position: relative;
  padding-right: 30px;
}

.user-panel-menu li::after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: 13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-panel-menu a {
  color: #32425c;
}

.user-panel-menu a:hover {
  color: #ee3643;
}

.user-panel-menu a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-nav-menu .nav-menu-item a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  color: #ffffff;
  font-size: 17px;
}

.main-nav-menu .nav-menu-item a:hover {
  background-color: #293449;
}

.main-nav-menu .nav-menu-item a:active {
  background-color: #1d2739;
  color: #8e939c;
}

.main-nav-menu .nav-menu-item:first-of-type a {
  padding-left: 55px;
}

.main-nav-menu .nav-menu-item:last-of-type a {
  padding-right: 55px;
}

.catalog-menu {
  padding: 60px;
  font-family: 'Cuprum', 'Arial', san-serif;
}

.catalog-menu .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(120px, 1fr));
  gap: 20px;
}

.catalog-menu .catalog-menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px 25px;
}

.catalog-menu .catalog-menu-item::after {
  content: '';
  display: block;
  position: absolute;
}

.catalog-menu-item .menu-item-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.catalog-menu-item .menu-item-link,
.catalog-slider .menu-item-link {
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.catalog-menu-item .menu-item-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-menu-item .menu-item-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-item-new {
  box-sizing: content-box;
  position: absolute;
  color: #ffffff;
  top: -21px;
  right: 6px;
  width: 0;
  height: 30px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #ff5357;
  transform: rotate(-45deg);
}

.menu-item-new::after {
  position: absolute;
  display: block;
  top: 4px;
  right: -2px;
  content: 'new';
  color: #ffffff;
  font-size: 15px;
  transform: rotate(90deg);
}

.catalog-menu .menu-item-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.catalog-menu .menu-item-materials {
  background-color: #ffbf47;
}

.catalog-menu .menu-item-materials::after {
  background: url('img/icon-1.png') no-repeat;
  width: 44px;
  height: 65px;
  top: 50%;
  margin-top: -33px;
  right: 43px;
}

.catalog-menu .menu-item-devices {
  background-color: #3bbce3;
}

.catalog-menu .menu-item-devices::after {
  background: url('img/icon-2.png') no-repeat;
  width: 75px;
  height: 61px;
  top: 50%;
  margin-top: -30px;
  right: 28px;
}

.catalog-menu .menu-item-machines {
  background-color: #dc91d8;
}

.catalog-menu .menu-item-machines::after {
  background: url('img/icon-3.png') no-repeat;
  width: 78px;
  height: 62px;
  top: 50%;
  margin-top: -30px;
  right: 31px;
}

.catalog-menu .menu-item-sales {
  background-color: #8ed78f;
}

.catalog-menu .menu-item-sales::after {
  background: url('img/icon-4.png') no-repeat;
  width: 59px;
  height: 72px;
  top: 50%;
  margin-top: -36px;
  right: 44px;
}

.catalog-menu .menu-item-delivery {
  background-color: #ffc047;
}

.catalog-menu .menu-item-delivery::after {
  background: url('img/icon-5.png') no-repeat;
  width: 78px;
  height: 63px;
  top: 50%;
  margin-top: -31px;
  right: 31px;
}

.catalog-menu .menu-item-slider {
  position: relative;
}

.catalog-menu .catalog-slider-1 {
  background: url('img/catalog-slider-photo-1.jpg') no-repeat;
}

.catalog-menu .catalog-slider-2 {
  background: url('img/catalog-slider-photo-2.jpg') no-repeat;
}

.catalog-menu .catalog-slider {
  /* position: relative; */
  display: none;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 27px 25px 22px;
  background-size: cover;
}

.catalog-menu .catalog-slider-active {
  display: flex;
}

.catalog-slider .catalog-slider-title {
  font-size: 36px;
  font-size: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.catalog-slider .catalog-slider-slogan {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: auto;
}

.btn-link {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 50px;
  background-color: #ee3643;
  cursor: pointer;
}

.btn-link:hover {
  background-color: #ca2c37;
}

.btn-link:active {
  background-color: #ba2732;
}

.slider-controls .slider-control {
  position: absolute;
  width: 23px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}

.slider-controls .slider-left {
  background: url('img/icon-left.svg') no-repeat;
  left: 25px;
}

.slider-controls .slider-right {
  background: url('img/icon-right.svg') no-repeat;
  right: 25px;
}

.slider-controls .slider-dots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  position: absolute;
  bottom: 43px;
  left: 50%;
}

.slider-dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots .slider-dot {
  background-color: #ffffff;
}

.slider-dots .slider-dot-active {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

.goods,
.brands {
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.goods .goods-header,
.brands .brands-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #f9f5f0;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.goods-header .goods-title,
.brands-header .brands-title {
  padding: 5px 5px 10px;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.goods-header .goods-more-link,
.brands-header .brands-more-link {
  padding: 14px 55px;
  margin-top: auto;
  margin-bottom: auto;
}

.goods .goods-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.goods-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.goods-card:hover {
  box-shadow: 0 8px 15px rgba(41, 52, 73, 0.5);
}

.goods-card:hover .goods-picture {
  visibility: hidden;
}

.goods-card:hover .goods-hover-buttons {
  visibility: visible;
}

.goods-card-new {
  position: relative;
}

.goods-card .goods-picture {
  max-width: 218px;
  height: auto;
}

.goods-card .goods-title {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.goods-card .goods-title:hover {
  text-decoration: underline;
}

.goods-card .good-price-old {
  padding-left: 15px;
  min-height: 22px;
  font-size: 17px;
  font-weight: bold;
  color: #a9a9a9;
}

.goods-card .good-price-new {
  position: relative;
  padding: 12px 15px 12px 37px;
  margin-top: 12px;
  margin-left: -10px;
  background-color: #ee3643;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.goods-card .good-price-new::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 19px solid #ee3643;
}

.goods-hover-buttons {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.goods-hover-buttons .goods-hover-button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  width: 135px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #63a63e;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  text-align: center;
}

.goods-hover-buttons .goods-hover-button:nth-child(1) {
  position: relative;
  border-bottom: 3px solid #367315;
}

.goods-hover-buttons .goods-hover-button:nth-child(1)::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url('img/cart-icon-opacity.svg') no-repeat;
}

.goods-hover-buttons .goods-hover-button:nth-child(2) {
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #63a63e;
  margin-top: 7px;
}

.goods-hover-buttons .goods-hover-button:nth-child(1):hover {
  background-color: #5fbb2d;
}

.goods-hover-buttons .goods-hover-button:nth-child(1):hover::before {
  background: url('img/cart-icon-white.svg') no-repeat;
}

.goods-hover-buttons .goods-hover-button:nth-child(1):active {
  background-color: #518534;
  border-bottom-color: #518534;
}

.goods-hover-buttons .goods-hover-button:nth-child(2):hover {
  border-color: #32425c;
}

.goods-hover-buttons .goods-hover-button:nth-child(2):active {
  opacity: 0.3;
}

.brands .brands-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 85px;
}

.brands-cards .brands-card {
  border: 1px solid #eaeaea;
  height: 145px;
}

.brands-cards .brands-card:hover {
  box-shadow: 0 8px 15px rgba(41, 52, 73, 0.5);
}

.brands-cards .brands-card:active {
  opacity: 0.3;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands-card a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.brands-card img {
  max-width: 100%;
  height: auto;
}

.services {
  position: relative;
  background: url('img/header-bcg-grad.png') repeat;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  padding-top: 65px;
  padding-bottom: 100px;
}

.services .services-overlay {
  background: url('img/delivery-bcg.png') no-repeat right bottom -100px;
}

.services h2 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  text-transform: uppercase;
}
.services .services-header {
  margin-bottom: 75px;
}

.services-header .services-header-title {
  margin-bottom: 30px;
}

.services-header .services-header-title,
.services-header .services-header-slogan {
  max-width: 400px;
}

.services .services-tabs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  background-color: transparent;
}

.services-tabs .services-tabs-control {
  position: relative;
  list-style: none;
  grid-column: 1 / 4;
  display: flex;

  flex-direction: column;
}

.services-tabs-control::after {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  right: 0;
  width: 10px;
  height: 279px;
  background: url('img/services-tab-control-overlay.png') no-repeat;
}

.tabs-control-item a {
  display: block;
  font-family: 'Cuprum' 'Arial', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #32425c;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23px;
  border-bottom: 1px solid #2b364a;
  border-top: 1px solid #405069;
}

.tabs-control-item a:hover {
  background-color: #293449;
}

.tabs-control-item .active-services-link {
  color: #32425c;
  background-color: #ffffff;
  border-bottom: none;
  border-top: none;
}

.tabs-control-item .active-services-link:hover {
  color: #32425c;
  background-color: #ffffff;
}

.services-tabs .services-tab {
  display: none;
  background-color: transparent;
  grid-column: 5 / 13;
}

.services-tab .services-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.services-tab .services-info {
  max-width: 380px;
  line-height: 24px;
}

.services-tabs .services-tab-active {
  display: block;
}

.about {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  padding-top: 80px;
  padding-bottom: 85px;
}

.about .container {
  display: grid;
  grid-template-columns: 12, 1fr;
  column-gap: 20px;
}

.about .about-promo {
  grid-column: 1 / 8;
  display: flex;
  flex-direction: column;
}

.about .about-contacts {
  grid-column: 9 / 13;
  display: flex;
  flex-direction: column;
}

.about-promo .promo-title,
.about-contacts .contacts-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-promo .promo-text,
.about-contacts .contacts-text {
  line-height: 24px;
  margin-bottom: 25px;
}

.about-promo .promo-text:last-of-type {
  margin-bottom: 10px;
}

.about-promo .promo-list {
  margin-bottom: 30px;
}

.about-promo .promo-list a {
  display: block;
  text-decoration: none;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  color: #000000;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo-list .promo-list-item {
  position: relative;
}

.promo-list .promo-list-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  background-color: #ee3643;
}

.about .btn-link {
  align-self: start;
}

.about-contacts .btn-link {
  width: 300px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.about .contacts-map {
  width: 300px;
  height: 158px;
  margin-bottom: auto;
}

.about .contacts-map img {
  max-width: 300px;
  height: auto;
}

.main-footer {
  background-color: #32425c;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
}

.main-footer a {
  text-decoration: none;
  color: inherit;
}

.main-footer,
.bottom-nav {
  background-color: #32425c;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.footer-row:last-of-type {
  padding-top: 25px;
  padding-bottom: 45px;
}

.footer-row .home-wrapper {
  grid-column: 1 / 6;
  display: flex;
}

.footer-row .home {
  padding: 18px 80px;
}

.footer-menu a:hover,
.footer-catalog-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active,
.footer-catalog-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-row .footer-menu {
  grid-column: 6 / 13;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: auto;
}

.footer-row .footer-adress {
  grid-column: 1 / 6;
  line-height: 24px;
}

.footer-row .footer-catalog-menu {
  grid-column: 6 / 13;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-catalog-menu .footer-catalog-menu-item:first-of-type {
  margin-left: 15px;
}

.footer-catalog-menu a {
  color: #ffd180;
}

.main-footer .cite-info {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.cite-info .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.cite-info .copyright {
  grid-column: 1 / 5;
}

.cite-info .social {
  display: flex;
  justify-content: space-between;
  grid-column: 6 / 8;
}

.social a {
  position: relative;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social a:hover,
.social a:active {
  background-color: #ee3643;
}

.social a::after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .social-vk::after {
  width: 26px;
  height: 15px;
  background: url('img/vk-icon.png') no-repeat;
}
.social .social-fb::after {
  width: 12px;
  height: 22px;
  background: url('img/fb-icon.png') no-repeat;
}
.social .social-insta::after {
  width: 21px;
  height: 21px;
  background: url('img/insta-icon.png') no-repeat;
}

.cite-info .feedback {
  grid-column: 9 / 11;
}

.cite-info .cite-author {
  grid-column: 11 / 13;
  text-align: center;
}

.feedback a,
.cite-author a {
  color: #ffd180;
}

.feedback a:hover,
.cite-author a:hover {
  text-decoration: underline;
}

.feedback a:active,
.cite-author a:active {
  color: #ee3643;
  text-decoration: none;
}

/* catalog.html */

.catalog-page {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
}

.breadcrumbs-list {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumbs-list .breadcrumbs-list-item {
  padding-left: 40px;
  position: relative;
}

.breadcrumbs-list .breadcrumbs-list-item::before {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 12px;
  background: url('img/icon-right-small.png') no-repeat;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.breadcrumbs-list .breadcrumbs-list-item:first-of-type::before {
  width: 14px;
  height: 12px;
  left: 20px;
  background: url('img/icon-home.png') no-repeat;
}

.breadcrumbs-list a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-list a:hover {
  text-decoration: underline;
}

.catalog-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

.catalog-block-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.catalog-filter {
  font-family: 'PT Sans', 'Arial', sans-serif;
  grid-column: 1 / 4;
}

.catalog-wrapper {
  grid-column: 4 / 13;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.catalog-filter .filter-title {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  color: #000000;
  border-radius: 3px;
}

.catalog-filter legend {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}

.filter-price {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.price-range-wrapper {
  height: 80px;
  background-color: #f7f3ec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.price-range {
  appearance: none;
  width: 40%;
  height: 2px;
  background-color: #00ca74;
}

.price-range::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #504e4e;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.3);
}

.price-input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-input-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}

.price-input-min,
.price-input-max {
  appearance: none;
  outline: none;
  border: none;
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 3px;
  text-align: center;
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
}

.price-input-min::-webkit-inner-spin-button,
.price-input-max::-webkit-inner-spin-button {
  appearance: none;
}

.filter-brands {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-brands .brands-title,
.filter-power .power-title {
  padding-top: 25px;
}

.filter-brands .checkbox-wrapper,
.filter-power .radio-wrapper {
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
}

.checkbox-wrapper .brands-checkbox,
.radio-wrapper .power-radio {
  appearance: none;
}

.checkbox-wrapper label,
.radio-wrapper label {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-wrapper label::before {
  content: '';
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('img/checkbox-off.png') no-repeat;
  opacity: 0.7;
}

.checkbox-wrapper label:hover::before {
  opacity: 1;
}

.checkbox-wrapper label:hover::before {
  opacity: 1;
}

.brands-checkbox:disabled + label::before {
  opacity: 0.3;
}

.brands-checkbox:checked + label::before {
  width: 27px;
  height: 23px;
  background: url('img/checkbox-on.png') no-repeat;
}

.filter-power {
  padding-bottom: 70px;
}

.radio-wrapper label::before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url('img/radio-off.png') no-repeat;
  opacity: 0.7;
}

.radio-wrapper label:hover::before {
  opacity: 1;
}

.power-radio:disabled + label::before {
  opacity: 0.3;
}

.power-radio:checked + label::before {
  background: url('img/radio-on.png') no-repeat;
}

.catalog-filter .filter-btn {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  align-self: flex-start;
  cursor: pointer;
}

.catalog-filter .filter-btn:hover {
  border-color: tomato;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-sort {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
  padding: 10px 20px;
  align-items: center;
  margin-bottom: 20px;
}

.sort-by .catalog-radio-wrapper:last-of-type {
  margin-right: 30px;
}

.catalog-sort .sort-title {
  grid-column: 1 / 4;
  text-transform: uppercase;
  font-size: 13px;
}

.catalog-sort .sort-by {
  grid-column: 4 / 9;
  display: flex;
  justify-content: space-between;
}

.sort-by input {
  appearance: none;
}

.sort-by label {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-bottom: 1px dotted #ee3643;
}

.sort-by label:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-by input:checked + label {
  color: #ee3643;
  border-bottom: none;
}

.catalog-sort .sort-incr-decr {
  grid-column: 9 / 10;
  display: flex;
  padding: 0 5px;
}

.sort-incr-decr {
  display: flex;
  justify-content: space-between;
}

.sort-incr-decr input {
  appearance: none;
}

.catalog-radio-wrapper {
  display: flex;
}

.sort-incr-decr label {
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.sort-incr-decr .sort-incr {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #000000;
  opacity: 0.5;
}

.sort-incr-decr .sort-decr {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #000000;
  opacity: 0.3;
}

.sort-incr-decr .sort-incr:hover,
.sort-incr-decr .sort-decr:hover {
  opacity: 1;
}

.sort-incr-decr input:checked + .sort-incr {
  border-bottom-color: #ee3643;
  opacity: 1;
}
.sort-incr-decr input:checked + .sort-decr {
  border-top-color: #ee3643;
  opacity: 1;
}

.catalog-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.paginator-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.paginator-list .paginator-list-item {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.paginator-list a {
  min-width: 38px;
  height: 38px;
  line-height: 38px;
  display: block;
  text-align: center;

  margin-right: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.paginator-list:not(:first-child) a:hover {
  border-color: #bdc6ca;
}

.paginator-list:not(:first-child) a:active {
  border-color: #ee3643;
}

.paginator-list-item:last-of-type a {
  padding-left: 30px;
  padding-right: 30px;
}

.paginator-list .paginator-active-item {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-info {
  background-color: #f2f6f8;
  padding-top: 60px;
  padding-bottom: 70px;
}

.catalog-info .info-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.catalog-info .info-text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.modal-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 620px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
  padding-top: 50px;
}

.modal-text-wrap {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.modal-cart .modal-text-dec {
  width: 66px;
  height: 66px;
  background: url('img/modal-check.svg') no-repeat;
  margin-top: 5px;
}

.modal-cart .modal-text {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  padding-top: 35px;
  padding-bottom: 35px;
}

.modal-buttons .btn-link:first-of-type {
  margin-right: 20px;
}

.modal-buttons .btn-link-continue {
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
}

.modal-buttons .btn-link-continue {
  outline: 1px solid #a5a5a5;
}

.modal-cart .modal-cart-close,
.modal-write .modal-write-close {
  content: '';
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 10px;
  right: 10px;
  background: url('img/modal-btn-close.svg') no-repeat;
  cursor: pointer;
}

.modal-write {
  position: relative;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 620px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ee3643;
  padding-top: 50px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.modal-write-form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.modal-input-wrapper:nth-of-type(1) {
  grid-column: 1 / 2;
  margin-left: 80px;
}

.modal-input-wrapper:nth-of-type(2) {
  grid-column: 2 / 3;
  margin-right: 80px;
}

.modal-input-wrapper:nth-of-type(3) {
  margin: 20px 80px 40px;
  grid-column: 1 / 3;
}

.modal-input-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-write label {
  margin-bottom: 10px;
  text-transform: none;
}

.modal-write input,
.modal-write textarea {
  border: 1px solid #d7dcde;
  padding: 10px;
  border-radius: 3px;
}

.modal-write input:hover,
.modal-write textarea:hover {
  border-color: #b5b5b5;
}

.modal-write input:focus,
.modal-write textarea:focus {
  border-color: #ee3643;
}

.modal-write textarea {
  resize: none;
}

.modal-write input::placeholder,
.modal-write textarea::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color: #a9a9a9;
}

.modal-write .modal-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-write .modal-buttons .btn-link {
  grid-column: 1 / 3;
  margin-right: 0;
}

.modal-cart.hidden {
  display: none;
}

.modal-write.hidden {
  display: none;
}
